@import "../../kits/css/animates/am-layer/am-layer-aa";
@import "../../kits/css/animates/am-load-aa";

.mc-layer[data-theme="aa"] {

    // 容器
    & {
        position   : absolute;
        display    : inline-table;
        width      : 100%;
        height     : 100%;
        left       : 0;
        top        : 0;
        z-index    : 999;
        text-align : center;
        @extend %am-hvc-aa;
    }

    // 暗层
    &:before {
        content    : "";
        display    : block;
        width      : 100%;
        height     : 100%;
        background : rgba(0, 0, 0, .7);
        position   : fixed
    }

    // 居中
    & > * {
        display        : table-cell;
        vertical-align : middle;
        height         : 100%;
        width          : 100%;
        position       : relative
    }

    // 内容
    & > * > * {
        display         : inline-block !important;
        transform-style : preserve-3d;
    }

    // 显示
    &[data-view="show"] {
        & > * {
            @extend %am-show-aa;
        }
    }

    // 隐藏
    &[data-view="hide"] {

    }

    .am-load-aa {
        width  : 1.5rem;
        height : 1.5rem;
        @extend %am-load-aa;
    }
}