.mc-layer {

    // 容器
    & {
        position   : fixed;
        display    : inline-table;
        width      : 100%;
        height     : 100%;
        left       : 0;
        top        : 0;
        z-index    : 999;
        text-align : center;
    }

    // 暗层
    &:before {
        content    : "";
        display    : block;
        width      : 100%;
        height     : 100%;
        background : rgba(0, 0, 0, .7);
        position   : fixed
    }

    // 居中
    & > * {
        display        : table-cell;
        vertical-align : middle;
        height         : 100%;
        width          : 100%;
        position       : relative
    }

    // 内容
    & > * > * {
        display         : inline-block !important;
    }

    // 显示
    &[data-view="show"] {
        display: inline-table;;
    }

    // 隐藏
    &[data-view="hide"] {
        display: none;
    }
}